// Custom styles.
body{
     background: url(/images/background.jpg) fixed center center no-repeat;
     background-size: cover;
     width: 100%
}
.head-inner{
	opacity: 0.8;
}
.main-inner{
	opacity: 0.8;
}

